---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Resume">
    <div>
        <iframe src="/Rothschild_CV___Nov_2024_Update_NoContacts.pdf" class="w-full h-screen"></iframe>
    </div>
</Layout>