---
import Layout from '../layouts/Layout.astro';
const currentPath = Astro.url.pathname;

const portfolio_links = [
  { href: '/portfolio/base_defender', label: 'Base Defender [C++ Game]' },
  { href: '/portfolio/simulytics', label: 'Simulytics [Django/SvelteKit]' },
  { href: '/portfolio/test_interface', label: 'Test/FEA Interface [MATLAB]' },
  { href: '/portfolio/stock_trading', label: 'Stock Trading [Python]' },
  { href: '/portfolio/londonderry_quarry', label: 'Londonderry Quarry [JS/Astro Site]' },
];

---

<Layout title="Portfolio">
	<div class="flex flex-col w-full h-full p-2">
		<div class="flex items-center justify-between gap-2">
            
            <a
                href='/portfolio'
                class="inline-flex items-center rounded-md bg-orange-400 px-3 py-1 text-sm font-semibold text-black hover:bg-orange-300 transition-colors"
            >
                <span class="mr-1">&larr;</span>
                Back to Portfolio
            </a>
        </div>
        <main class="w-full h-full p-2">
            <slot />
        </main>
	</div>
</Layout>