---
import PortfoloLayout from '../../layouts/PortfolioLayout.astro';
---

<PortfoloLayout title="Base Defender">
	<div slot="description" class="flex flex-col p-2 gap-2">
		<h1 class="font-bold text-xl">Base Defender</h1>
		<p>Fly the ship to ram the enemies or block their way with the spikes. Don&apos;t let them reach your base!</p>
		<p>This C++ game was a fun project to hone my skills and practice feedback and controls.</p>
	</div>
	<iframe src="/lunar_lander/lunar_lander.html" class="flex flex-col h-96 w-full justify-self-center"></iframe>
</PortfoloLayout>