---
import PortfoloLayout from '../../layouts/PortfolioLayout.astro';
---

<PortfoloLayout title="Base Defender" githubLink="https://github.com/rarothschild/home_base/blob/main/public/lunar_lander">
    <div class="grid grid-cols-2">	
        <div class="flex flex-col p-2 gap-2">
            <p>Fly the ship to ram the enemies or block their way with the boxes. Don&apos;t let them reach your base!</p>
            <p>Built in C++, this game utilizes Emscripten to convert the code into html usable on my site.</p>
        </div>
        <div class="flex flex-col items-center justify-center p-2">
            <p class="font-semibold mb-2 text-lg underline">Controls:</p>
            <ul class="list-disc space-y-1 text-sm">
                <li>Arrow Up: thrust upward</li>
                <li>Arrow Left / Right: move horizontally</li>
                <li>Space Bar: drop obstacles currently connected to your red rope</li>
            </ul>
            <p class="font-semibold mt-2">Note: This game is currently just a test, press r to spawn enemies. Real levels coming soon!</p>
        </div>
    </div>
    <iframe
        src="/lunar_lander/lunar_lander.html"
        class="flex flex-col h-[405px] w-[780px] justify-self-center"
    ></iframe>
</PortfoloLayout>