---
import PortfoloLayout from '../../layouts/PortfolioLayout.astro';
import { Fragment } from 'astro/jsx-runtime';

---

<PortfoloLayout title="Stock Trader">
	<Fragment slot="description">
		<div class="flex flex-col p-2 gap-2">
			<p>Here's a simple dashboard I made to help get a grasp on trading indicators, trending, and data analytics.</p>
		</div>
	</Fragment>
	<div class="flex w-full overflow-x-hidden ">
		<p>TBD Trader Dashboard</p>
	</div>
</PortfoloLayout>