---
import PortfoloLayout from '../../layouts/PortfolioLayout.astro';
import { Fragment } from 'astro/jsx-runtime';

---

<PortfoloLayout title="Welcome to Astro.">
	<Fragment slot="description">
		<div class="flex flex-col p-2 gap-2">
			<h1 class="font-bold text-xl">Testing Dashboard</h1>
			<p>Here's a dashboard I made for comparing collected test data to predicted computer models. 
				It reads NASTRAN results files compares it to what was seen in real life.
				It is capable of applying FFTs, high/low pass filters, and other common signal processing techniques.	
			</p>
		</div>
	</Fragment>
	<div class="">
		<img  class="h-96" src="/images/testInspector/testInsector1.png" alt="Logo" class="w-32 h-auto" />
	</div>
</PortfoloLayout>